# Development environment files
.vscode/
Bundle.bat
BundleAndDeploy.bat
bundle.js
package.json
package-lock.json
title.txt
.gitignore

# Build files
build/

# IDE files

# OS files
.DS_Store
Thumbs.db

# Logs
*.log 